<?xml version="1.0"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.springframework.org/schema/beans">
	<!-- 0.测试spring的运行环境 将Door类的对象的创建交给spring容器 -->
	<!-- <bean id="admin" class="com.jp.po.Admin"></bean>
		 <bean id="book" class="com.jp.po.Book"></bean> 
		<bean id="cartitem" class="com.jp.po.Cartitem"></bean>
		 <bean id="orderitem" class="com.jp.po.Orderitem"></bean> 
		 <bean id="orders" class="com.jp.po.Orders"></bean>  -->
		<bean id="type" class="com.jp.po.Type"></bean>
		<bean id="User" class="com.jp.po.User"></bean>
</beans>